@import 'colours';

html, body {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.4;
}

pre, code {
    font-family: "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-primary;
}

h1, h2 {
    margin-bottom: .5em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}
